{% extends "athletedb/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'athletedb/css/achievement_detail.css' %}">
{% endblock %}
{% block content %}
<h2>{{ achievement_detail.title }}</h2>

<p>{{ achievement_detail.description }}</p>

<table class="table">
    <thead></thead>
    <tbody>
        <tr>
            <td class="font-weight-bold">Nama</td>
            <td>{{ achievement_detail.title }}</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Pelaksana</td>
            <td>{{ achievement_detail.organizer }}</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Lokasi</td>
            <td>{{ achievement_detail.location }}</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Tanggal</td>
            <td>{{ achievement_detail.date }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}