{% extends "athletedb/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'athletedb/css/athlete_detail.css' %}">
{% endblock %}
{% block content %}
<h2>{{ athlete_detail.name }}</h2>

<table class="table">
    <thead></thead>
    <tbody>
        <tr>
            <th scope="row">Nama</th>
            <td>{{ athlete_detail.name }}</td>
        </tr>
        <tr>
            <th scope="row">NIK</th>
            <td>{{ athlete_detail.nik }}</td>
        </tr>
        <tr>
            <th scope="row">Tanggal Lahir</th>
            <td>{{ athlete_detail.birth_date }} ({{ athlete_detail.age }} tahun)</td>
        </tr>
        <tr>
            <th scope="row">Tempat Lahir</th>
            <td>{{ athlete_detail.birth_place }}</td>
        </tr>
        <tr>
            <th scope="row">Nomor Telepon</th>
            <td>{{ athlete_detail.phone_number }}</td>
        </tr>
        <tr>
            <th scope="row">Alamat</th>
            <td>{{ athlete_detail.address }}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{ athlete_detail.email }}</td>
        </tr>
        <tr>
            <th scope="row">Jenis Kelamin</th>
            <td>{{ athlete_detail.sex }}</td>
        </tr>
        <tr>
            <th scope="row">Asal Sekolah</th>
            <td>{{ athlete_detail.school }}</td>
        </tr>
        <tr class="sports-row">
            <th scope="row">Cabang Olahraga</th>
        </tr>
        <tr class="achievements-row">
            <th scope="row">Prestasi</th>
            <td class="achievement-values-col">
                <div class="achievementlist">
                    <ul>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block js %}
<script src="{% static 'athletedb/js/athlete-detail.js' %}">
</script>
{% endblock %}