{% extends "athletedb/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'athletedb/css/athlete_detail.css' %}">
{% endblock %}
{% block content %}

<div class="athlete-bio shadow-sm p-4 mb-4 bg-white">

    <div class="row align-items-center profile-header">
        {% if athlete_detail.photo %}
        <div class="col- athlete-photo">
            <img src="{{ athlete_detail.photo.url }}" class="rounded-circle" alt="Pasfoto" width="150" height="150">
        </div>
        {% endif %}
        <div class="col-sm athlete_name">
            <h2>{{ athlete_detail.name }}</h2>
        </div>
    </div>

    <dl class="row athlete-bio-detail">
        <dt class="col-sm-3">Nama</dt>
        <dd class="col-sm-9">{{ athlete_detail.name }}</dd>

        <dt class="col-sm-3">NIK</dt>
        <dd class="col-sm-9">{{ athlete_detail.nik }}</dd>

        <dt class="col-sm-3">Tanggal Lahir</dt>
        <dd class="col-sm-9">{{ athlete_detail.birth_date }} ({{ athlete_detail.age }} tahun)</dd>

        <dt class="col-sm-3">Tempat Lahir</dt>
        <dd class="col-sm-9">{{ athlete_detail.birth_place }}</dd>

        <dt class="col-sm-3">Jenis Kelamin</dt>
        <dd class="col-sm-9">{{ athlete_detail.sex }}</dd>

        <dt class="col-sm-3">Golongan Darah</dt>
        <dd class="col-sm-9">{{ athlete_detail.blood_type }}</dd>

        <dt class="col-sm-3">Nomor Telepon</dt>
        <dd class="col-sm-9">{{ athlete_detail.phone_number }}</dd>

        <dt class="col-sm-3">Alamat</dt>
        <dd class="col-sm-9">{{ athlete_detail.address }}</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ athlete_detail.email }}</dd>

        <dt class="col-sm-3">Asal Sekolah</dt>
        <dd class="col-sm-9">{{ athlete_detail.school }}</dd>

        <dt class="col-sm-3">Cabang Olahraga</dt>
    </dl>
</div>



<div class="achievement-athlete-master shadow-sm p-4 mb-4 bg-white">
    <h3>Prestasi</h3>
    <div class="achievement-list"></div>
    <div class="accordion" id="accordionAchievement">
    </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'athletedb/js/athlete-detail.js' %}">
</script>
{% endblock %}