.container {
    font-family: 'Cabin', sans-serif !important;
}

.navbar-title {
    font-size: 150%;
}

.table {
    width: 70%;
}

.achievementlist ul {
    line-height: inherit;
    list-style: none none;
    padding: 0;
}

.achievementlist ul li {
    margin-bottom: 20px;
}

.profile-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.athlete-photo{
    padding-left: 20px;;
}

.border-bottom {
    border-width:1px !important;
}